{% extends "back/base.html.twig" %}

{% block body %}
    <div class="wrapper">
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
