{% extends "back/layout.html.twig" %}
{% block content %}
        <section class="content-header">
            <h1>Accueil</h1>
            {% set lines = {} %}
            {% include "back/common/_breadcrumb.html.twig" with lines %}
        </section>
        <section class="content">
        </section>
{% endblock %}
